{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1", user-scalable=no />
   <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">

  <title> {% block head_title %}Bakeinators{% endblock %} </title>



</head>

<body class="homepage">
		<div id="page-wrapper">
<style>
    .container {
    position: center;
    left: 0;
    bottom: 0;
    width:100%;
    background: #fff8f7;
    color: #460431;
    text-align: center;
}
</style>
        <!-- Header -->
				<div id="header-wrapper">
					<div id="header" class="container">
<br>
						    <h1 id="logo"> Bakeinators
                            </h1>
</div>



                        <nav id="nav">
								<ul><li><a class="icon fa-star" href="/blog"><span>Our favourite Recipes</span></a></li>
                                    <li>
										<a href="/categories" class="icon fa-search"><span>Find Recipes by Category</span></a>
                                    </li>
                                </ul>
                            							</nav>
                </div>
                </div>
</div>

{% block content %}


{% endblock %}

<style>
    .footer {
    position: static;
    left: 0;
    bottom: 0;
    width:100%;
    background: #fff8f7;
    color: #460431;
    text-align: center;
}
</style>

<div class="footer">
  <p>Copyright 2018 by Bakeinators.</p>
</div>

</body>


</html>