{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block head_title %}Bakeinators
    {% endblock %}</title>

    <link rel="stylesheet" href="templates/assets/css/main.css">

</head>

<body class="homepage">
		<div id="page-wrapper">

        <!-- Header -->
				<div id="header-wrapper">
					<div id="header" class="container">

						<!-- Logo --><img src="pictures/static/logo.png">

                        <h1 id="logo"> Bakeinators
                            </h1>
							<p>The baking blog for everyone!</p>

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li><a class="icon fa-home" href="blog/"><span>Our favourite Recipes</span></a></li>
                                    <li>
										<a href="categories/" class="icon fa-bar-chart-o"><span>Find Recipes by Category</span></a>
                                    </li>
							</nav>

					</div>
</div>
{% block content %}

<p> here is some text </p>




{% endblock %}

<style>
    .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width:100%;
    background: #fff8f7;
    color: #460431;
    text-align: center;
}
</style>

<div class="footer">
  <p>Copyright 2018 by Bakeinators.</p>
</div>

</body>


</html>