{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
    {% if category == None %}
        <p>No category found</p>
    {% else %}
        <h2 style="text-align: center">{{ category.title }}</h2>
    {% endif %}

<div class="container">
    {% if posts %}
              {% for p in posts %}
                  <a href="{% url 'viewp' p.id %}">{{ p.title}} </br> </a>
                  <img class="viewImageSmall" src="/static/{{ p.item_photo.url }}">
                  <p style="text-align: center">{{ p.description }}</p>
        {% endfor %}

    {% else %}
        <p>There are no posts.</p>
    {% endif %}
</div>
{% endblock %}



